<div id="landingContainer" style="display: none;">
    <div class="jumbotron" style="background-image: url(./assets/images/header.png);    background-size: cover; position: fixed; top: 0;     margin-top: 30px;width:100%;">
        <div style="padding:15px;background-color: #0f0f0f6e;">
            <div class="row no-gutter fixed" style="margin-top:10px;">
                <div class="col-auto">
                    <img src="./assets/images/dracarys.png" class="img-fluid" alt="Responsive image" width="85">
                </div>
                <div class="col" style="padding-left: 0px;">
                    <div class="card-block">
                        <h3><span class="badge rounded-pill bg-primary" id="mcVersion">%v%</span><span id="dracarysVersion">Dracarys v%dv%</span></h3>
                        <p style="margin:0px;">
                            <span id="descriptionText">%desc%</span><br>
                            <p id="status" class="" style="display:inline;"><i class="fas fa-server"></i><span style="color:rgb(177, 177, 177);" id="descriptionIP"> 172.107.179.22:25655</span></p> <br>
                            <button id="launchButton" type="button" class="btn btn-dark btn-sm button-glow" style="float:right;border-radius: 0px;margin-left:5px;" id="launchButton">Play Dracarys 1.16.4</button> <button id="settingsButton" type="button" class="btn btn-dark btn-sm" style="float:right;border-radius: 0px;    height: 31px;margin-left:5px;"><i class="fa fa-cog" aria-hidden="true"></i></button><a href="https://www.g-portal.com/?ref=ZenialLynx" target="_blank"><img src="./assets/images/gportal.png" class="img-fluid" alt="Responsive image" style="float:right;border-radius: 0px;    height: 31px;margin-right:5px;"></a> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress" style="border-radius: 0px;background:#0f0f0f !important;height:5px;">
            <div class="progress-bar" id="install-bar" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" id="errorBar" role="progressbar" style="width: 3%;display:none;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="" style="margin-top:200px;position: fixed;overflow: auto; top: -1px;
    bottom: 0;width:100%;">
        
        <iframe src="http://cdn.thelynxcompany.ga/launcher/news" style="width:100%;height:100%;" ALLOWTRANSPARENCY="true"></iframe>
        
        <!--<div style="margin:15px;">
            <div class="alert alert-darcarys" role="alert">
                <strong><i class="fas fa-exclamation-triangle"></i> This new build is experimental use it at your own risk!</strong>
              </div>
            <h2 class="text-primary">What's New on Dracarys Network?</h2>
            <p class="nopadding">- Added Worldedit to fix issues on the server side.</p>
            <p class="nopadding">- We have removed Better Animals Plus due to corruption issues.</p>
            <p class="nopadding">- We have reworked the launcher with md5 verification.</p>
            <p class="nopadding">- Play Button has been fixed which now launches minecraft.</p>
            <p class="nopadding"> A world reset has been performed to fix many issues on our network. This helps the server start fresh with our new host to provide you a better experience while gaming!</p>
            
            <hr>
            <h2 class="text-primary">What's New on Dracarys Network?</h2>
        </div>-->



    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>