<div id="settingsContainer" style="display: none;">
    <div style="margin:15px;">
        <h2><button id="back" class="btn btn-link" style="padding:0px;"><h2><i class="fas fa-chevron-circle-left"></i></h2></button> Launcher Settings</h2>
        <p>Configure your launcher the way you want it to be!</p>
        <hr>
        <p>This feature is not yet implemented.</p>
    </div>
    <script src="./assets/js/scripts/settings.js"></script>
</div>